* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 10px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
  color: inherit;
  font-size: inherit;
}
button {
  border: none;
}

input {
  border: none;
}

i{
  color: inherit;
}