$second_bg_color: #f2f2f2;
$prtimes_color: #24436f;
$light_blue: #bfc9d7;
$text: #3b3b3b;
$sub_text: #a2a2a2;
$header_release: hsl(215, 43%, 36%);
$btn_color: #3081c9;
$line_color: #e4e4e4;
$footer_text: #797979;
$footer_line: #e0e0e0;
$info_color: #31b0d5;
$warning_color: #ec971f;
$success_color: #dafbe1;
$danger_color: #ffebe9;
$danger2_color: #bd2130;
$white: #ffffff;
$auth_btn_color: #f26600;